body {
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
}

.small-caption {
  font: 700 12px/12px "Nunito Sans", sans-serif;
}

.form-text {
  font-family: "Nunito Sans", sans-serif;
  border-radius: 6px;
  border: 1px solid #D0D7DE;
  padding: 5px 10px;
  max-width: 300px;
  width: 100%;
}

.form-button {
  font: 600 14px/18px "Nunito Sans", sans-serif;
  padding: 5px 10px;
  border-radius: 6px;
  border: none;
  outline: none;    
  background-color: #2080e5;
  color: #fff;
  transition: all 0.15s;
  cursor: pointer;
}

.form-button:hover, .form-button:focus, .form-button:active {
  background-color: #166dc7;
}

#copyright {
  font-weight: 500;
}

header {
  border-bottom: 1px solid #D0D7DE;
  box-shadow: 0px 0px 10px 0px #D0D7DE7D;
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-flow: row;
  justify-content: space-between;
  padding: 8px 16px;
  z-index: 7;
}

header h2 {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #2080e5;
}

a:hover, a:active, a:focus {
  text-decoration: underline;
  color: #166dc7;
}

#authenticate {
  text-align: center;
  margin: 36px;
}

.rectangle-container {
  border: 1px solid #D0D7DE;
  border-radius: 6px;
  display: inline-block;
  padding: 12px 36px;
  box-shadow: 0px 0px 10px 0px #D0D7DE7D;
  background-color: #F4FAFF;
  width: 100%;
  box-sizing: border-box;
  max-width: 350px;
}

footer {
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
}

.error-field {
  border: 1px solid #ffa7a7;
  background-color: #ffa7a73b;
  border-radius: 6px;
  padding: 1px 16px;
  margin-bottom: 16px;
  display: none;
}

.error-field p {
  margin: 0;
  font-size: 14px;
  color: #950000;
  text-align: left;
}

#sign-up-form {
  display: none;
}

#profile-actions {
  display: none;
}

#app {
  padding: 26px;
  display: none;
  position: relative;
}

#post-day {
  position: absolute;
  z-index: 3;
  width: 100%;
  text-align: center;
}

#authenticate {
  display: none;
}

#cube-container {
  border: 1px solid #D0D7DE;
  border-radius: 6px;
  padding: 12px;
  margin: 36px auto;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cube {
  background-color: #EBEDF0;
  border: 1px solid #DEE0E4;
  border-radius: 3px;
  height: 11px;
  width: 11px;
  margin: 2px;
}

#post-day-form {
  text-align: center;
}

#post-day-hue {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 4px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 14px;
  background: #D0D7DE;
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px 0px #D0D7DE7D;
  outline: none;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 14px;
  background: #D0D7DE;
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px 0px #D0D7DE7D;
  outline: none;
  cursor: pointer;
}
